* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}
h1 {
text-align: center;
}

#searchZone {
    height: 85px;
    text-align: center;
    /* border: 2px solid green; */
}

button {
    color: white;
    background-color: red;
    height: 25px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: crosshair;
}

#musicPlayer {
    align-content: center;
    color: red;
    /* background-color: grey; */
    height: 25px;
    width: 100%;
}

.titleDiv {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 2px solid black; */
    font-size: medium;
}
#searchResults {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #A9A9A9; */
    /* background-color: black; */
    border-radius: 10px;
}

/* .picDiv {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around
} */

p {
    width: 100%;
    text-align: center;
    /* border: 2px solid purple; */
}

.bandDiv {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 2px solid green; */
}
.songBox {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* border: 2px solid red; */
    box-shadow: 3px 3px 5px #00000020, -3px -3px 5px #ffffff;
    /* background: linear-gradient blue; */
    /* justify-content: space-evenly; */
    margin: 5px;
    border-radius: 5%;
    padding: 10px;
    background-color: rgba(213,213,213,255) ;
}

.songBox:hover {
    transform: translateY(-10px);
    transition: transform .3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 2px 2px 4px #fff;
}

label {
    border-radius: 15px;
    align-content: center;
}

input {
    border-radius: 10px;
    /* border: 2px solid black; */
}

body {
    background-color: #f8f8f8;
    color: #333;
}
body.dark-mode {
    background-color: #333;
    color: #f8f8f8;
}
#modeSwitch span {
    float: right;
}

#modeSwitch {
    background-color: black;
    color: white;
    text-align: right;
    /* float: right; */
    /* border: 2px solid green; */
}


#modeSwitch:hover {
    background-color: black;
    cursor: pointer;
    height: 35px;
    padding: 10px 10px;
    font-size: large;
}

.imageBox {
    display: flex;
    justify-content: center;
}

